@model List<BE.Usuario>
@{
    ViewBag.Title = "Crear equipo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/Content/chosen.css" />
    <script src="~/Scripts/chosen.jquery.js"></script>
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Equipo</h4>
        <hr />
        <label>Integrantes</label>
        <div class="form-group">
            <label class="control-label col-md-2">Integrantes</label>

            <div class="col-md-10">
                @Html.DropDownList("Empleados", new SelectList(Model, "Id", "NombreApellido"),
                                               new
                                               {
                                                   @class = "form-control chosen-select",
                                                   @multiple = true
                                               })
            </div>
        </div>
        <label>Comidas</label>
        <div class="form-group">
            <label class="control-label col-md-2">Seleccione las comidas</label>
            <div class="col-md-10">
                @Html.DropDownList("Comidas", new SelectList(ViewBag.ListaComidas, "Id", "Nombre"),
                                               new
                                               {
                                                   @class = "form-control chosen-select",
                                                   @multiple = true
                                               })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $('.chosen-select').chosen()
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
