@model BE.Equipo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Usted esta seguro que desea eliminar este equipo?</h3>
<div>
    <h4>Equipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaCreado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaUltimaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaUltimaModificacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
