@model BE.Equipo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Equipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lider)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Integrantes)
        </dt>
        <dd>
            <ul class="list-group list-group-flush">
                @foreach (var integrante in Model.Integrantes)
                {
                    <li class="list-group-item">@integrante.NombreApellido  </li>
                }
            </ul>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaCreado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaUltimaModificacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaUltimaModificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
